<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="hero">
    <picture>
        <source media="(min-width: 500px)" srcset="/images/vehicles/delorean.jpg">
        <img src="/images/vehicles/delorean-tn.jpg" alt="banner Picture" loading="lazy">
    </picture>

    <div class="desc">
        <h2>DMC Delorean</h2>
        <h3>3 Cup holders</h3>
        <h3>Superman doors</h3>
        <h3>Fuzzy dice!</h3>
        <img src="/images/site/own_today.png" alt="">
    </div>
</div>
<div class="contents">
    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Mcfly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin I love it." (5/5)</li>
        </ul>
    </section>
    <section class="section">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
            <div>
                <figure >
                    <img src="/images/upgrades/flux-cap.png" alt="">
                    <figcaption>Flux Capacitor</figcaption>
                </figure>
            </div>
            <div>
                <figure >
                    <img src="/images/upgrades/flame.jpg" alt="">
                    <figcaption>Flame Decals</figcaption>
                </figure>
            </div>
            <div>
                <figure >
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="">
                    <figcaption>Bumper Stickers</figcaption>
                </figure>
            </div>
            <div>
                <figure >
                    <img src="/images/upgrades/hub-cap.jpg" alt="">
                    <figcaption>Hub Caps</figcaption>
                </figure>
            </div>
        </div>
    </section>
</div>